body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

* { box-sizing: border-box; }

h1 {
  font-style: italic;
  color: #373fff;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button.icon {
  background: transparent;
  margin: 0;
  padding: 24px;
  border: solid hotpink 2px;
  color: hotpink;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 4px 4px 0 hotpink;
  box-shadow: 4px 4px 0 hotpink;
}