html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  overscroll-behavior-y: contain;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  --primary: #4545CC;
  --secondary: #8EE3C8;
}

* { box-sizing: border-box; }

h1 {
  color: var(--primary);
  font-weight: normal;
}

header {
  background-color: #F19CC5;
  width: 100%;
  padding: 0 20px;
  border-bottom: 8px solid var(--secondary);
}

header .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}

#colorsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  flex-wrap: wrap;
}

#colorsContainer button {
  min-width: 30px;
  min-height: 30px;
  border: 4px solid transparent;
  border-radius: 50%;
  margin: 2px;
  padding: 0;
  will-change: transform;
  transition: transform 0.2 ease;
}
#colorsContainer button.active {
  border: 4px solid white;
}
#colorsContainer button:hover { 
  transform: scale(1.4);
}

.box {
  border: solid var(--primary) 2px;
  color: var(--primary);
  fill: var(--primary);
  background: white;
  box-shadow: 4px 4px 0 var(--primary);
  height: 40px;  
  border-radius: 5px;
  transition: top 0.2s ease;
  position: relative;
  top: 0;
  vertical-align: middle;
}

.box:active {
  top: 4px;
  box-shadow: none;
}

button.icon {
  cursor: pointer;
}

select {
  font-family: inherit;
  font-size: 22px;
  width: 255px;
}

#sketch {
  flex-grow: 1;
  overflow: hidden;
}
#sketch.loading {
  pointer-events: none;
  opacity: 0.3;
  filter: blur(3px);
}

@media screen and (max-width: 700px) {
  h1 {
    margin: 14px 0;
    padding: 0;
    font-size: 24px;
  }
  .box {
    height: 40px;
    margin: 0 4px;
  }
  header .top {
    flex-direction: column;
    margin-bottom: 14px;
    height: auto;
  }
  .controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .controls select {
    font-size: 20px;flex-grow: 1;
  }
}
